@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: rem(14);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro_medium.eot");
  src: local("☺"), url("../fonts/gothampro_medium.woff") format("woff"), url("../fonts/gothampro_medium.ttf") format("truetype"), url("../fonts/gothampro_medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro_bold.eot");
  src: local("☺"), url("../fonts/gothampro_bold.woff") format("woff"), url("../fonts/gothampro_bold.ttf") format("truetype"), url("../fonts/gothampro_bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro.eot");
  src: local("☺"), url("../fonts/gothampro.woff") format("woff"), url("../fonts/gothampro.ttf") format("truetype"), url("../fonts/gothampro.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro_light.eot");
  src: local("☺"), url("../fonts/gothampro_light.woff") format("woff"), url("../fonts/gothampro_light.ttf") format("truetype"), url("../fonts/gothampro_light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 60px;
  line-height: 130%;
  font-weight: 700;
}
@media (max-width: 767px) {
  h1 {
    font-size: calc(24px + 61.2 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  h1 {
    font-size: calc(24px + 36 * (100vw / 1920));
  }
}

h2 {
  line-height: 100%;
  font-weight: 700;
}
@media (max-width: 767px) {
  h2 {
    font-size: calc(36px + 20.4 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  h2 {
    font-size: calc(36px + 12 * (100vw / 1920));
  }
}

h3 {
  font-size: 36px;
  line-height: 130%;
  font-weight: 700;
}
@media (max-width: 767px) {
  h3 {
    font-size: calc(18px + 30.6 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  h3 {
    font-size: calc(18px + 18 * (100vw / 1920));
  }
}

h4 {
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
}

img {
  pointer-events: none;
}

body {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
}

input,
button,
textarea {
  font-family: "Gotham Pro";
}

.page {
  min-height: 100%;
  contain: paint;
  background-color: #f5f5f5;
  padding-top: 2.6vw;
  padding-left: 4.16vw;
  padding-right: 4.16vw;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container-big {
  width: 100%;
  max-width: 1840px;
  margin: 0 auto;
}

@-webkit-keyframes line-animation {
  0% {
    left: 45%;
    width: 0%;
  }
  100% {
    left: -5%;
    width: 110%;
  }
}

@keyframes line-animation {
  0% {
    left: 45%;
    width: 0%;
  }
  100% {
    left: -5%;
    width: 110%;
  }
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger-block {
  display: none;
  margin-left: auto;
}
.header__burger-menu {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  pointer-events: none;
}
.header__burger > span {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url(/img/ic_burger_static.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.header__burger > span:hover {
  background-image: url(/img/ic_burger_hover.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.header__burger-menu_active {
  display: block;
}
.header__burger_active > span {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url(/img/ic_burger_active.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.header__burger_active > span:hover {
  background-image: url(/img/ic_burger_active.svg);
}
.header__logo {
  margin-right: auto;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.header__link {
  text-align: center;
  display: block;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__link:hover {
  position: relative;
  color: #2b69dd;
}
.header__link:hover::before {
  content: "";
  position: absolute;
  left: -5%;
  bottom: 0;
  height: 2px;
  width: 110%;
  background: #fbac00;
  border-radius: 2px;
  -webkit-animation-name: line-animation;
          animation-name: line-animation;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.header__link:active {
  color: #75acfe;
}
.header__link:active::before {
  opacity: 0;
}
.header__btn-popup {
  margin-left: auto;
  background-color: #87b645;
  border-radius: 4px;
  color: #ffffff;
  padding: 23px;
  text-align: center;
  width: 100%;
  max-width: 232px;
  justify-self: flex-end;
}

.btn {
  display: block;
  background-color: #87b645;
  border-radius: 4px;
  color: #ffffff;
  padding: 23px;
  text-align: center;
  z-index: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn:hover {
  color: #ffffff;
  background: #fbac00;
}
.btn:active {
  color: #75acfe;
  background: #2b69dd;
}
.main-screen {
  position: relative;
  z-index: 2;
  margin-top: 152px;
}
.main-screen__title {
  text-align: center;
  margin-bottom: 56px;
  color: #333333;
}
.main-screen__text {
  text-align: center;
  margin-bottom: 57px;
}
.main-screen__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.8125vw;
  min-height: 56px;
}
.main-screen__btn {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 268px;
}
.main-screen__btn-learn-more {
  background-color: rgba(245, 245, 245, 0);
  border: 1px solid #a0c4fa;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
  width: 240px;
  max-height: 56px;
}
.main-screen__bg-img-ethereum {
  z-index: -1;
  position: absolute;
  left: 9.2vw;
  top: -30px;
}
.main-screen__bg-img-ripple {
  z-index: -1;
  position: absolute;
  right: 18.5vw;
  top: 300px;
}
.main-screen__bg-img-fct {
  z-index: -1;
  position: absolute;
  top: 177px;
  left: 20.1vw;
}
.main-screen__bg-img-bitcoin {
  position: absolute;
  z-index: -1;
  right: 21.1vw;
  top: -80px;
}
.main-screen__bg-graph1 {
  position: absolute;
  left: -4.16vw;
  top: -13px;
  width: calc(100% + 8.32vw);
  z-index: auto;
}
.main-screen__bg-graph2 {
  z-index: auto;
  position: absolute;
  left: -4.16vw;
  top: 150px;
  width: calc(100% + 8.32vw);
}

.preview {
  padding-top: 132px;
  position: relative;
}
.preview__notebook {
  position: relative;
  left: 2.92vw;
  max-width: 100%;
  z-index: 2;
  padding-top: calc(1920px - 100vw);
  padding-right: 16.26vw;
}
.preview__notebook img {
  max-width: 100%;
}
.preview__body {
  margin-left: 32px;
  position: absolute;
  top: 21.25vw;
  right: 2.92vw;
  z-index: 2;
  max-width: 560px;
}
.preview__title {
  color: #1baad1;
  margin-bottom: 1.93vw;
}
.preview__text {
  text-align: left;
}
.preview__yellow-spot {
  position: absolute;
  top: 6.3vw;
  right: -4.16vw;
  z-index: 1;
}
.preview__yellow-spot img {
  width: 100%;
  max-height: 1075px;
}

.tabs {
  position: relative;
  z-index: 1;
}
.tabs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 136px;
  max-width: 1440px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tabs__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.55%;
          flex: 0 1 31.55%;
}
.tabs__column_upper {
  margin-top: -24px;
}
.tabs__btns {
  display: none;
}
.tabs__slider-next {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 48px;
  height: 48px;
  background-color: #87b645;
  border-radius: 8px;
  background-image: url(/img/faq/ic_arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.tabs__slider-next:hover {
  background-color: #fbac00;
}
.tabs__slider-next:active {
  background-color: #2b69dd;
  background-image: url(/img/faq/ic_arrow_active.svg);
}
.tabs__slider-prev {
  width: 48px;
  height: 48px;
  background-color: #87b645;
  border-radius: 8px;
  background-image: url(/img/faq/ic_arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.tabs__slider-prev:hover {
  background-color: #fbac00;
}
.tabs__slider-prev:active {
  background-color: #2b69dd;
  background-image: url(/img/faq/ic_arrow_active.svg);
}

.item-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 21.66vw;
  padding: 0 1.25vw;
  height: calc(8.75vw + 192px + 192px);
  max-width: 416px;
  max-height: 552px;
  min-width: 296px;
  min-height: 425px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 24px;
}
.item-tabs__image {
  margin-bottom: 0.83vw;
}
.item-tabs__image img {
  width: 9.16vw;
  max-width: 176px;
  min-width: 136px;
}
.item-tabs__title {
  text-align: center;
  margin-bottom: 24px;
}
.item-tabs__text {
  text-align: center;
  max-width: 368px;
  padding-bottom: 1.25vw;
}

.tabs-arrow {
  margin: auto 0;
}
.tabs-arrow img {
  max-width: 32px;
  width: 1.66vw;
}

.advantages {
  padding-top: 136px;
  position: relative;
}
.advantages__bg-main-block {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: -1;
}
.advantages__title {
  text-align: center;
  margin-bottom: 72px;
}
@media (max-width: 767px) {
  .advantages__title {
    font-size: calc(24px + 40.8 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .advantages__title {
    font-size: calc(24px + 24 * (100vw / 1920));
  }
}
.advantages__body {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  width: 100%;
  max-width: 688px;
  max-height: 208px;
  padding: 40px 0;
  background: #e7e9e8;
  border-radius: 12px;
  position: relative;
  z-index: 2;
}
.advantages__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 12px 12px 0 0;
  height: 16px;
  width: 100%;
  background-color: #87b645;
}
.advantages__item:first-child {
  -ms-grid-column-align: end;
      justify-self: end;
}
.advantages__item:first-child::before {
  content: "";
  background-color: #eb5757;
}
.advantages__item:last-child {
  -ms-grid-column-align: start;
      justify-self: start;
}
.advantages__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-top: -8px;
  padding: 32px 16px 32px 32px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  width: 90%;
  max-width: 640px;
  position: relative;
  border-radius: 8px;
}
.advantages__text:nth-child(odd) {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 21px;
}
.advantages__text:nth-child(odd)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #eb5757;
  width: 8px;
  height: 100%;
  border-radius: 8px;
}
.advantages__text:nth-child(even) {
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 21px;
}
.advantages__text:nth-child(even)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #87b645;
  width: 8px;
  height: 100%;
  border-radius: 8px;
}
.advantages__text:nth-child(4n) {
  background-color: #ececec;
}
.advantages__text:nth-child(4n-1) {
  background-color: #ececec;
}
.advantages__blue-spot {
  position: absolute;
  left: -80px;
  top: 180px;
  z-index: 1;
}

.profit {
  position: relative;
  z-index: 1;
  padding-top: 300px;
}
.profit__title {
  text-align: center;
}
@media (max-width: 767px) {
  .profit__title {
    font-size: calc(24px + 40.8 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .profit__title {
    font-size: calc(24px + 24 * (100vw / 1920));
  }
}
.profit__labels {
  padding-top: 100px;
}
.profit__bottom {
  padding-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.profit__numbers-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 72px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.profit__numbers:last-child {
  padding-left: 20px;
}
.profit__number {
  margin-bottom: 1.66vw;
}
.profit__name {
  font-weight: 400;
}
@media (max-width: 767px) {
  .profit__name {
    font-size: calc(12px + 10.2 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .profit__name {
    font-size: calc(12px + 6 * (100vw / 1920));
  }
}
.profit__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #ffffff;
  padding: 28px 0px;
  background-color: #87b645;
  border-radius: 4px;
  width: 100%;
  max-width: 272px;
  max-height: 73px;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.profit__bg-graph1 {
  position: absolute;
  top: 143px;
  left: -4.16vw;
  width: calc(100% + 8.32vw);
  z-index: -1;
}
.profit__bg-graph2 {
  position: absolute;
  top: 310px;
  left: -4.16vw;
  width: calc(100% + 8.32vw);
  z-index: -1;
}

.number {
  font-weight: 500;
}
@media (max-width: 767px) {
  .number:nth-child(1) {
    font-size: calc(18px + 51 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .number:nth-child(1) {
    font-size: calc(18px + 30 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .number:nth-child(2) {
    font-size: calc(24px + 40.8 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .number:nth-child(2) {
    font-size: calc(24px + 24 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .number:nth-child(3) {
    font-size: calc(24px + 40.8 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .number:nth-child(3) {
    font-size: calc(24px + 24 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .number:nth-child(4) {
    font-size: calc(24px + 40.8 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .number:nth-child(4) {
    font-size: calc(24px + 24 * (100vw / 1920));
  }
}

.name {
  font-weight: 500;
}
@media (max-width: 767px) {
  .name:nth-child(1) {
    font-size: calc(12px + 20.4 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .name:nth-child(1) {
    font-size: calc(12px + 12 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .name:nth-child(2) {
    font-size: calc(12px + 20.4 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .name:nth-child(2) {
    font-size: calc(12px + 12 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .name:nth-child(3) {
    font-size: calc(12px + 20.4 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .name:nth-child(3) {
    font-size: calc(12px + 12 * (100vw / 1920));
  }
}

.label-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 62px;
}
.label-item__body:last-child {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
.label-item__title {
  margin-bottom: 10px;
}
.label-item__label {
  position: relative;
}
.label-item__input {
  border: 1px solid #d7d7d7;
  font-family: "Gotham Pro";
  display: inline-block;
  background-color: #ffffff;
  text-align: left;
  max-height: 72px;
  width: 22.1875vw;
  max-width: 426px;
  min-width: 260px;
  border-radius: 8px;
  padding: 25px 25px;
  outline: none;
  cursor: default;
  margin-bottom: 27px;
}
.label-item__slider {
  margin: 0 auto;
  margin-bottom: 20px;
}
.label-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.label-item__text span {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #a1a1a3;
}
.label-item__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.label-item__select span {
  pointer-events: none;
}
.label-item__select::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  background-image: url(/img/profit/ic_arrow.svg);
  width: 32px;
  height: 32px;
  pointer-events: none;
}
.label-item__select::before::hover {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  background-image: url(/img/profit/ic_arrow.svg);
  width: 32px;
  height: 32px;
  pointer-events: none;
}
.label-item__select::-ms-expand {
  display: none;
}

.dropdown {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  position: relative;
  z-index: 2;
  /*	&__button_active{
  	.dropdown__button{
  		&::after{
  			content: '';
  			position: absolute;
  			transform: rotate(-90deg);
  		}
  	}
  }*/
}
.dropdown__title {
  margin-bottom: 10px;
}
.dropdown__button {
  position: relative;
  border: 1px solid #d7d7d7;
  font-family: "Gotham Pro";
  display: inline-block;
  background-color: #ffffff;
  text-align: left;
  max-height: 72px;
  width: 22.1875vw;
  min-width: 260px;
  max-width: 426px;
  border-radius: 8px;
  padding: 25px 25px;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-bottom: 27px;
}
.dropdown__button span {
  pointer-events: none;
}
.dropdown__button:hover::after {
  background-image: url(/img/faq/ic_arrow_hover.svg);
}
.dropdown__button:active::after {
  background-image: url(/img/faq/ic_arrow_active.svg);
}
.dropdown__button::after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  background-image: url(/img/profit/ic_arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.dropdown_active .dropdown__button::after {
  content: "";
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.dropdown__list {
  display: none;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  background-color: #ffffff;
  width: 100%;
  padding: 14px 0;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.dropdown__list_visible {
  display: block;
}
.dropdown__list-item {
  padding: 8px 23px;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.dropdown__list-item:hover {
  background-color: #fbac00;
}

.dropdown__list-item_active::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 32px;
  height: 32px;
  background-image: url(/img/profit/Vector_list.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
}

.garant {
  position: relative;
  padding-top: 250px;
  z-index: 0;
}
.garant__title {
  text-align: center;
  margin-bottom: 100px;
}
.garant__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 56px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.garant__card {
  max-width: 432px;
  width: 91.11vw;
  position: relative;
  background-color: #f8db73;
  -webkit-box-shadow: 0px 4px 20px rgba(165, 165, 165, 0.25);
          box-shadow: 0px 4px 20px rgba(165, 165, 165, 0.25);
  border-radius: 8px;
  height: 296px;
  background-position: 100% 8px;
  background-repeat: no-repeat;
}
.garant__card_01 {
  background-image: url(/img/garant/01.svg);
}
.garant__card_02 {
  background-image: url(/img/garant/02.svg);
  background-color: #a0c4fa;
}
.garant__card_03 {
  background-image: url(/img/garant/03.svg);
  background-color: #ffffff;
}
.garant__card-body {
  padding: 32px;
  width: inherit;
  max-width: inherit;
}
.garant__card-title {
  margin-bottom: 25px;
}
.garant__card-arrow {
  position: absolute;
  bottom: 24px;
  left: 32px;
  background: #87b645;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  padding: 14px;
  background-image: url(/img/garant/ic_arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.garant__bg {
  position: absolute;
  left: 31.25vw;
  top: 4.16vw;
  z-index: -1;
}

@-webkit-keyframes card-arrow {
  0% {
    background-image: url(/img/garant/ic_arrow.svg);
  }
  100% {
    background-image: url(/img/garant/ic_arrow_ocean.svg);
  }
}

@keyframes card-arrow {
  0% {
    background-image: url(/img/garant/ic_arrow.svg);
  }
  100% {
    background-image: url(/img/garant/ic_arrow_ocean.svg);
  }
}
.card-arrow {
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card-arrow:hover {
  background-color: #fbac00;
}
.card-arrow:active {
  background: #2b69dd;
  background-image: url(/img/garant/ic_arrow_ocean.svg);
  background-position: center;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  -webkit-animation: card-arrow 0.2s ease;
          animation: card-arrow 0.2s ease;
}

.hashrate {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hashrate img {
  max-width: 912px;
  width: 91.11vw;
}

.opportunities {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.opportunities > p {
  font-size: 18px;
}
.opportunities > a {
  font-weight: 400;
  font-size: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #75acfe;
}
@media (max-width: 767px) {
  .opportunities > a {
    font-size: calc(14pxpx + 6.8px * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .opportunities > a {
    font-size: calc(14pxpx + 4px * (100vw / 1920));
  }
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #a1a1a3;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a1a1a3;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a1a1a3;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a1a1a3;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #a1a1a3;
}

.scroll-up {
  position: fixed;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  right: 2.08vw;
  bottom: 50px;
  z-index: 1000;
  width: 80px;
  height: 80px;
  cursor: pointer;
  visibility: hidden;
  background-color: #87b645;
  border-radius: 8px;
  background-image: url(/img/scrollup/ic_arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}
.scroll-up:hover {
  background-color: #fbac00;
}
.scroll-up:active {
  background-image: url(/img/scrollup/ic_arrow_active.svg);
  background-color: #2b69dd;
}

.scroll-up_active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.faq {
  position: relative;
  z-index: 1;
  padding-top: 150px;
}
.faq__bg-spot {
  position: absolute;
  top: calc(1920px - 100vw + 10vw - 192px + 10vw - 192px + 10vw - 192px + 10vw - 192px + 10vw - 192px + 10vw - 192px);
  right: -4.16vw;
  z-index: -1;
}
.faq__bg-spot img {
  max-width: 696px;
  width: 36.25vw;
  min-width: 192px;
  height: auto;
}
.faq__title {
  text-align: center;
  margin-bottom: 100px;
}
.faq__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.faq__accordion {
  max-width: 776px;
  width: 44.1vw;
  min-width: 300px;
}
.faq__accordion-item_active .faq__accordion-trigger {
  background-color: #f8db73;
  color: #333333;
  margin-bottom: 40px;
}
.faq__accordion-item_active .faq__accordion-trigger:hover::after {
  background-image: url(/img/faq/ic_arrow_hover.svg);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
}
.faq__accordion-item_active .faq__accordion-trigger:active::after {
  background-image: url(/img/faq/ic_arrow_active.svg);
}
.faq__accordion-item_active .faq__accordion-trigger::after {
  content: "";
  position: absolute;
  top: calc(50% - 16px);
  right: 40px;
  background-image: url(/img/faq/ic_arrow_active.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.faq__accordion-item_active .faq__accordion-content {
  display: block;
}
.faq__accordion-trigger {
  position: relative;
  max-width: inherit;
  width: inherit;
  min-width: inherit;
  max-height: 152px;
  min-height: 72px;
  padding: 3.125vw;
  padding-right: calc(3.125vw + 40px);
  text-align: center;
  margin-bottom: 20px;
  color: #f5f5f5;
  width: 100%;
  background-color: #87b645;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.faq__accordion-trigger:last-child {
  margin: 0;
}
.faq__accordion-trigger:hover::after {
  background-image: url(/img/faq/ic_arrow_hover.svg);
}
.faq__accordion-trigger:active::after {
  background-image: url(/img/faq/ic_arrow_active.svg);
}
.faq__accordion-trigger::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  top: calc(50% - 16px);
  right: 40px;
  background-image: url(/img/faq/ic_arrow.svg);
  width: 32px;
  height: 32px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.faq__accordion-content {
  padding-left: 10px;
  margin: 0 auto;
  max-width: 664px;
  margin-bottom: 40px;
  display: none;
}
.faq__questions {
  position: sticky;
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: 100px;
  padding-left: 20px;
  max-width: 472px;
  width: 100%;
  min-width: 328px;
}
.faq__questions-title {
  margin-bottom: 16px;
  max-width: 370px;
}
.contact {
  position: relative;
  padding-top: 160px;
  padding-bottom: 127px;
  z-index: 1;
}
.contact__title {
  text-align: center;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .contact__title {
    font-size: calc(24px + 40.8 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .contact__title {
    font-size: calc(24px + 24 * (100vw / 1920));
  }
}
.contact__form {
  margin: 0 auto;
  max-width: 580px;
}
.contact__form > input {
  outline: none;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  width: 100%;
  max-width: 480px;
  min-width: 280px;
  padding: 19px 0;
  padding-left: 16px;
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}
.contact__form > input:last-child {
  margin-bottom: 35px;
}
.contact__text {
  margin: 0 auto;
  max-width: 450px;
  text-align: center;
  margin-bottom: 105px;
}
.contact__agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 25px;
  margin-left: 50px;
  margin-bottom: 55px;
  position: relative;
}
.contact__checkbox-fake {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.contact__checkbox-fake + label > span {
  display: inline-block;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid #d7d7d7;
  border-radius: 1px;
  margin-left: 3px;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.contact__checkbox-fake + label > span:hover {
  border: 1px solid #fbac00;
}
.contact__checkbox-fake:checked + label span {
  background-color: #87b645;
  background-image: url(/img/checkbox/Vector_2.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.contact__checkbox-fake:disabled + label span {
  background-color: #c4c4c4;
}
.contact__agree-text {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  max-width: 480px;
  text-align: left;
  color: #f5f5f5;
}
@media (max-width: 767px) {
  .contact__agree-text {
    font-size: calc(12px + 3.4 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .contact__agree-text {
    font-size: calc(12px + 2 * (100vw / 1920));
  }
}
.contact__link {
  cursor: pointer;
  color: #fbac00;
  position: relative;
  line-height: 16.8px;
}
.contact__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background: #fbac00;
  border-radius: 2px;
  width: 100%;
  height: 2px;
}
.contact__submit {
  margin: 0 auto;
  display: block;
  width: 268px;
  padding: 25px 0;
  background-color: #87b645;
}
.contact__bg-spot {
  position: absolute;
  left: 260px;
  top: 8px;
  height: auto;
  left: 13.54vw;
  top: 0.416vw;
  z-index: -1;
}
.contact__bg-spot img {
  max-width: 1495px;
  width: 77.865vw;
  min-width: 993px;
}

.footer {
  padding-top: 15.625vw;
  position: relative;
  z-index: 1;
}
.footer__bg-spot-1 {
  position: absolute;
  left: -4.16vw;
  bottom: 0;
  z-index: -1;
}
.footer__bg-spot-1 img {
  width: 30vw;
  max-width: 576px;
  min-width: 120px;
  height: auto;
}
.footer__bg-spot-2 {
  position: absolute;
  right: -4.16vw;
  bottom: 0;
  z-index: -1;
}
.footer__bg-spot-2 img {
  width: 35.2vw;
  max-width: 676px;
  min-width: 176px;
  height: auto;
}
.footer__honest-mining {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  margin-top: 40px;
  color: #a1a1a3;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__main-icon {
  cursor: pointer;
  width: 130px;
  height: 48px;
}
.footer__main-icon img {
  max-width: 130px;
  height: auto;
}
.footer__main-text {
  max-width: 900px;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333333;
}
.footer__title {
  cursor: pointer;
  margin-bottom: 40px;
}
.footer ul li {
  margin-bottom: 32px;
}
.footer ul li:last-child {
  margin-bottom: 0;
}
.footer__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 87px;
}
.dropdown__input-hidden {
  width: 100%;
}

.noUi-target {
  background-color: #fbac00;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 2px;
}

.noUi-connect {
  background-color: #87b645;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  top: -10px;
}

.noUi-handle {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #87b645;
  border: 1px solid #fbac00;
}
.noUi-handle::after, .noUi-handle::before {
  display: none;
}
.noUi-handle:hover {
  background: #2b69dd;
}
.noUi-handle:active {
  background: #75acfe;
  border: 1px solid #2b69dd;
}

.noUi-base {
  width: calc(100% - 10px);
}

.text-1-30-regular {
  line-height: 140%;
  font-weight: 400;
}
@media (max-width: 767px) {
  .text-1-30-regular {
    font-size: calc(24px + 10.2 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .text-1-30-regular {
    font-size: calc(24px + 6 * (100vw / 1920));
  }
}

.text-2-24-regular {
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
}

.other-30-bold {
  font-size: 30px;
  line-height: 100%;
  font-weight: 700;
}
@media (max-width: 767px) {
  .other-30-bold {
    font-size: calc(14px + 27.2 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .other-30-bold {
    font-size: calc(14px + 16 * (100vw / 1920));
  }
}

.other-18-medium {
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
}

.other-14-regular {
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
}

.text-main-18-regular {
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
}
@media (max-width: 767px) {
  .text-main-18-regular {
    font-size: calc(14px + 6.8 * ((100vw - 370px) / 1920));
  }
}
@media (min-width: 767px) {
  .text-main-18-regular {
    font-size: calc(14px + 4 * (100vw / 1920));
  }
}

@media (max-width: 1510px) {
  .contact__bg-spot {
    left: 12vw;
    top: calc(1510px - 100vw);
    left: 12vw;
    top: 1vw;
  }
  .contact__bg-spot img {
    min-width: 1200px;
  }

  .preview__notebook {
    padding-top: 27.74vw;
  }
}
@media (max-width: 1025px) {
  .faq__questions {
    width: 400px;
  }
}
@media (max-width: 991px) {
  .scroll-up {
    margin-bottom: 200px;
  }

  .garant {
    padding-top: 120px;
  }
  .garant__bg img {
    width: 88.88vw;
    left: -0.5vw;
    top: 8vw;
  }

  .footer__main-text {
    width: 170px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__about {
    display: none;
  }
  .footer__faq {
    display: none;
  }
  .footer__tariff {
    display: none;
  }
  .footer__title {
    display: none;
  }

  .contact {
    padding-top: 90px;
  }
  .contact__title {
    margin-bottom: 48px;
  }

  .faq__questions-title {
    padding-top: 20px;
  }
  .faq__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .faq__accordion {
    width: 91.11vw;
  }
  .faq__accordion-trigger {
    padding: 0;
    padding-left: 3.125vw;
    padding-right: calc(3.125vw + 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__burger-block {
    display: block;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger-menu {
    background-color: #ffffff;
    position: absolute;
    top: 48px;
    right: 0;
    z-index: 3;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
  }
  .header__burger-menu_active {
    pointer-events: all;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  .header__burger-link {
    overflow: hidden;
    display: block;
    min-width: 75px;
    padding: 1vw;
  }
  .header__burger-link:nth-child(even) {
    background-color: #87b645;
  }
  .header__burger-link:last-child {
    margin-bottom: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .header__burger-link:hover {
    position: relative;
    color: #2b69dd;
  }
  .header__burger-link:hover::before {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #fbac00;
    border-radius: 2px;
    -webkit-animation-name: line-animation;
            animation-name: line-animation;
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  .header__burger-link:active {
    color: #75acfe;
  }
  .header__burger-link:active::before {
    opacity: 0;
  }
  .header__btn-popup {
    display: none;
  }
  .header__navigation {
    display: none;
  }

  .main-screen__btn-learn-more {
    display: none;
  }
  .main-screen__bg-img-ethereum {
    width: 6.66vw;
    z-index: -1;
    position: absolute;
    left: 5.2vw;
    top: 60px;
  }
  .main-screen__bg-img-bitcoin {
    width: 10vw;
    position: absolute;
    z-index: -1;
    right: 3.1vw;
    top: -25px;
  }
  .main-screen__bg-img-fct {
    width: 8.88vw;
    z-index: -1;
    position: absolute;
    top: 215px;
    left: 84.6vw;
  }

  .preview__notebook {
    left: 0vw;
    padding-right: 0;
    padding-top: calc(991px - 100vw + 27.74vw);
  }
  .preview__yellow-spot {
    right: -10.16vw;
  }
  .preview__yellow-spot img {
    width: 91.93vw;
  }
  .preview__body {
    margin-top: 32px;
  }

  .tabs__row {
    padding-top: 96px;
    position: relative;
    left: 0;
  }
  .tabs__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-bottom: 20px;
  }
  .tabs__column:last-child {
    margin-bottom: 0px;
  }
  .tabs__column_upper {
    margin-top: 0;
  }

  .item-tabs {
    width: 42.66vw;
  }

  .label-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .label-item__input {
    width: 55vw;
  }

  .dropdown {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .dropdown__button {
    width: 55vw;
  }
}
@media (max-width: 766px) {
  .contact__bg-spot {
    left: 0px;
    top: 0px;
  }
}
@media (max-width: 767px) {
  .garant__cards {
    gap: 24px;
  }

  .profit__button {
    max-width: 350px;
  }

  .preview__notebook {
    padding-top: 55vw;
  }

  .tabs__row {
    position: relative;
    left: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1500px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    gap: calc(8vw - 20px);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .tabs__column {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .tabs__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10vw;
  }

  .item-tabs {
    width: 50.2vw;
  }

  .advantages__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 75vw 16px 75vw;
    grid-template-columns: repeat(2, 75vw);
    gap: 16px;
  }
  .advantages__item {
    width: 75.55vw;
    height: 28.88vw;
  }
  .advantages__item {
    padding: 0 1vw;
  }
  .advantages__image img {
    width: 13.33vw;
    height: auto;
  }
  .advantages__bg-main-block {
    top: 32px;
    width: 17.5vw;
    height: auto;
  }
  .advantages__text {
    padding: 2.22vw 2.22vw 2.22vw 4.44vw;
  }

  .number:nth-child(3) {
    color: #fbac00;
  }
}
@media (max-width: 1199px) {
  .contact__bg-spot {
    left: -3vw;
    top: 12px;
  }

  .faq__accordion-trigger::after {
    right: 20px;
  }

  .main-screen__bg-img-ripple {
    display: none;
  }

  .tabs-arrow img {
    display: none;
    width: 0;
  }
}
@media (max-width: 575px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__main-icon {
    margin-right: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__main-text {
    margin-top: 40px;
    width: 280px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__social-icon {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .contact__bg-spot {
    background-color: rgba(0, 0, 0, 0);
    left: -100px;
  }
  .contact__bg-spot img {
    display: block;
  }

  .faq__accordion-trigger {
    padding-right: 50px;
  }

  .profit__button {
    max-width: 232px;
  }

  .advantages__title {
    margin-left: auto;
    margin-right: auto;
    max-width: 312px;
  }

  .label-item__input {
    width: 91.11vw;
  }

  .dropdown__button {
    width: 91.11vw;
  }
}
@media (max-width: 359px) {
  .preview__notebook {
    padding-top: calc(359px - 100vw + 62vw);
  }
}
@media (max-width: 360px) {
  .contact__bg-spot {
    left: -450px;
    top: -72px;
  }

  .tabs__row {
    left: -10px;
  }

  .garant__bg {
    left: 0vw;
    top: 20vw;
  }
}
@media (max-width: 1292px) {
  .profit__numbers-block {
    max-width: 400px;
  }
  .profit__numbers:last-child {
    margin-right: 20px;
    padding-left: 0;
  }
  .profit__numbers:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .profit__numbers:nth-child(1) .number {
    color: #fbac00;
  }
  .profit__numbers:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .profit__numbers:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .profit__numbers:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
@media (max-width: 787px) {
  .profit__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profit__button {
    margin: 0 auto;
    margin-top: 64px;
  }
}
